In [1]:
import pandas as pd #Importando as bibliotecas
%matplotlib inline #configurando o matplotlib

In [2]:
avengers = 'Avengers.csv'
df = pd.read_csv(avengers) #Abrindo o arquivo .csv como DataFrame (df)

In [3]:
df.shape #Verificando o tamanho do DataFrame, formato = (Linhas, Colunas)

(173, 21)

In [4]:
df.describe() #Análise matemática das colunas numéricas

       Appearances         Year  Years since joining
count   173.000000   173.000000           173.000000
mean    414.052023  1988.445087            26.554913
std     677.991950    30.374669            30.374669
min       2.000000  1900.000000             0.000000
25%      58.000000  1979.000000             5.000000
50%     132.000000  1996.000000            19.000000
75%     491.000000  2010.000000            36.000000
max    4333.000000  2015.000000           115.000000

In [5]:
df.info() #Descreve os dados

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 173 entries, 0 to 172
Data columns (total 21 columns):
URL                            173 non-null object
Name/Alias                     163 non-null object
Appearances                    173 non-null int64
Current?                       173 non-null object
Gender                         173 non-null object
Probationary Introl            15 non-null object
Full/Reserve Avengers Intro    159 non-null object
Year                           173 non-null int64
Years since joining            173 non-null int64
Honorary                       173 non-null object
Death1                         173 non-null object
Return1                        69 non-null object
Death2                         17 non-null object
Return2                        16 non-null object
Death3                         2 non-null object
Return3                        2 non-null object
Death4                         1 non-null object
Return4                        1 non-null object
Death5                         1 non-null object
Return5                        1 non-null object
Notes                          75 non-null object
dtypes: int64(3), object(18)
memory usage: 16.3+ KB

In [6]:
df.head() #lista as 5 primeiras linhas do DataFrame

,URL,Name/Alias,Appearances,Current?,Gender,Probationary Introl,Full/Reserve Avengers Intro,Year,Years since joining,Honorary,...,Return1,Death2,Return2,Death3,Return3,Death4,Return4,Death5,Return5,Notes
0,http://marvel.wikia.com/Henry_Pym_(Earth-616),"Henry Jonathan ""Hank"" Pym",1269,YES,MALE,NaN,Sep-63,1963,52,Full,...,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Merged with Ultron in Rage of Ultron Vol. 1. A...
1,http://marvel.wikia.com/Janet_van_Dyne_(Earth-...,Janet van Dyne,1165,YES,FEMALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Secret Invasion V1:I8. Actually was se...
2,http://marvel.wikia.com/Anthony_Stark_(Earth-616),"Anthony Edward ""Tony"" Stark",3068,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Death: ""Later while under the influence of Imm..."
3,http://marvel.wikia.com/Robert_Bruce_Banner_(E...,Robert Bruce Banner,2089,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dies in Ghosts of the Future arc. However ""he ..."
4,http://marvel.wikia.com/Thor_Odinson_(Earth-616),Thor Odinson,2402,YES,MALE,NaN,Sep-63,1963,52,Full,...,YES,YES,NO,NaN,NaN,NaN,NaN,NaN,NaN,Dies in Fear Itself brought back because that'...

In [7]:
df = df.drop(columns = ['URL', 'Current?','Probationary Introl'.'Full/Reserve Avengers Intro','Year','Years since joining',
                        'Honorary','Death1','Return1','Death2','Return2','Death3','Return3','Death4','Return4','Death5',
                        'Return5','Notes']) #Lista das colunas a serem excluidas da tabela

df.head()

SyntaxError: invalid syntax (<ipython-input-7-86df3403fc92>, line 1)